<div class="row justify-content-center">
    <div class="col-auto">
        <div class="row">
            <div class="col text-left">
                <legend>Usuário</legend>
            </div>
            <div class="col text-right">
                <a class="btn btn-sm btn-primary" href="/usuarios/add"><i class="fas fa-plus"></i> Novo Usuário</a>
                <a class="btn btn-sm btn-secondary" href="#"><i class="fas fa-sync-alt"></i> Atualizar</a>
            </div>
        </div>

        <table class="table table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-left">Usuário</th>
                    <th scope="col">Data Nasc</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {{#if results}}
                {{#each results}}
                <tr>
                    <td class="text-left">{{ nome }}</td>
                    <td class="text-center">{{moment datanasc format="DD/MM/YYYY"}}</td>
                    <td class="text-center">{{ celular }}</td>
                    <td class="text-center">
                        <a href="#" class="btn btn-sm btn-dark" title="Informações"><i
                                class="fas fa-info-circle"></i></a>
                        <a href="#" class="btn btn-sm btn-warning text-white" title="Editar"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a class="btn btn-sm btn-danger text-white show-alert-delete-user" data-iduser="{{ ID }}"
                            data-nomeuser="#" title="Apagar"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <div class="alert alert-info text-center">
                    <strong>Atenção!</strong> Nenhum registro encontrado.
                </div>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>